@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
    display: grid;
    place-content: center;
    height: 100vh;
    font-family: Poppins, sans-serif;
    background: linear-gradient(to right, #333, #666),
        radial-gradient(circle, rgba(255, 255, 255, 0.2) 2px, transparent 2px);
    background-size:
        100% 100%,
        20px 20px;
    background-blend-mode: overlay;
}

.contenedor {
    width: 42rem;
    background-color: transparent;
    border: 0.2rem solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(1rem);
    color: #fff;
    border-radius: 1rem;
    padding: 3rem 4rem;
}

.login-form {
    h2 {
        font-size: 3.6rem;
        text-align: center;
    }

    .input-box {
        position: relative;
        width: 100%;
        height: 5rem;
        margin: 3rem 0;

        .icon {
            position: absolute;
            right: 2rem;
            top: 50%;
            transform: translateY(-50%);
            font-size: 1.8rem;
        }

        &:nth-last-child(3)::after {
            content: '▼';
            position: absolute;
            right: 2rem;
            top: 50%;
            transform: translateY(-50%);
            font-size: 1.8rem;
            color: rgba(255, 255, 255, 0.6);
            pointer-events: none;
        }
    }

    .remember-forgot {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.45rem;
        margin: -1.5rem 0 1.5rem;
        label {
            font-size: 1.6rem;
            color: #fff;
        }

        a {
            color: #fff;
            text-decoration: none;
        }
    }

    .register-link {
        font-size: 1.45rem;
        text-align: center;
        margin: 2rem 0 1.5rem;

        p a {
            color: #fff;
            text-decoration: none;
            font-weight: 600;
            margin-left: 1rem;
        }
    }
}

.register-link p a:hover {
    text-decoration: underline;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.input-box input::placeholder {
    color: #fff;
}
